@charset "utf-8";

@font-face {
    font-family: 'NanumGothic';
    src: url(/fonts/NanumGothic.otf) format("opentype"), url(/fonts/NanumGothic.ttf) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: 'NanumGothic';
    src: url(/fonts/NanumGothicBold.otf) format("opentype"), url(/fonts/NanumGothicBold.ttf) format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: 'NanumGothic';
    src: url(/fonts/NanumGothicExtraBold.otf) format("opentype"), url(/fonts/NanumGothicExtraBold.ttf) format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: 'NanumGothic';
    src: url(/fonts/NanumGothicLight.otf) format("opentype"), url(/fonts/NanumGothicLight.ttf) format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: 'D2Coding';
    src: url(/fonts/D2Coding-Ver1.3.2-20180524.ttf) format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: 'D2Coding';
    src: url(/fonts/D2CodingBold-Ver1.3.2-20180524.ttf) format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: 'bitbit';
    src: url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'), url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') ;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border: 1px solid transparent;
    border-radius: 4px;
    background-clip: padding-box;
    background-color: #999;
}

::-webkit-scrollbar-track {
    background-color: #ddd;
}

html, body, #__next {
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-family: 'NanumGothic', serif;
    background-color: #333;
    overflow: hidden;
}

p {
    margin: 0;
}

a {
    color: #000;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

[hidden] {
    display: none !important;
}

[role=number] {
    text-align: right;
    font-family: 'D2Coding', serif !important;
}
